body {
	height: auto;
	font-family:Arial;
	font-size:bold;
	background-color: #C5C1C0;
	margin: 0;
}
#headerBar {
	height: auto;
	background-color: white;
	padding: 10px;
	text-align: right;
	border: 0;
}
#headerBar a{
	padding: 10px 12px;
}
#logo {
	width: 100%;
	background-color:#253d48;
}
#solarpv{
	font-size: 38px;
	font-weight: bold;
	font-family: Georgia;
	color: #F7CE3E;
}
#phrase {
	font-size: 14px;
	font-weight: bold;
	font-family: Georgia;
	color: #F7CE3E;
	margin-right: 50px;
}
#facebook {
	font-size: 30px;
	text-decoration:none;
	color:gray;
}
#facebook:visited {
	color:gray;
}
#facebook:hover {
	color:white;
	background-color: gray;
}
#twitter {
	font-size: 30px;
	text-decoration:none;
	color:gray;
}
#twitter:visited {
	color:gray;
}
#twitter:hover {
	color:white;
	background-color: gray;
}
#searchBar {
	float: left;
	width: 225px;
	height: 33px;
	border-radius: 10px;
	border: 1px solid gray;
	font-family: Arial;
	font-size: 14px;
	z-index:1;
	margin: 0;
}
#searchBar:focus {
	border: 2px solid gray;
	outline: 0;
}
#registration {
	float: right;
	margin-right: 10px;
}
.register {
	border: 0;
	background-color: #F7CE3E;
	color: #253d48;
	padding: 12px 18px;
	border-radius: 2px;
	margin-top: 2px;
	margin-right: 15px;
	font-weight: bold;
	cursor: pointer;
}
.register:focus {
	outline: 0;
}
.login {
	border: 0;
	background-color: inherit;
	color: #F7CE3E;
	padding: 12px 18px;
	font-weight: bold;
	cursor: pointer;
}
.login:focus {
	outline: 0;
}
input[type=text], input[type=password] , input[type=email], input[type=tel] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
.container button {
	background-color: #253d48;
	color: #F7CE3E;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}
.container button:hover {
	opacity: 0.8;
}
.cancel {
	width: 20%;
	padding: 10px 18px;
	background-color: #f44336;
}
.closecontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}
.container {
	padding: 16px;
}
span.psw {
	float: right;
}
.loginModal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	padding-top: 60px;
	border: 0;
}
.modal-content {
	background-color:#C5C1C0;
	margin: 5% auto 15% auto;
	border: 1px solid #888;
	width: 25%;
}
.close{
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}
.close:hover, .close:focus {
	color: red;
	cursor: pointer;
}
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
}
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}
.registerModal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	padding-top: 60px;
	border: 0;
}
#contents {
	width: 33%;
	height: 100%;
	float: left;
	position: relative;
}
footer {
	height: 10%;
	width: auto;
	background-color: #C5C1C0;
	margin-top: 90%;
}

